@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: transparent ;
    color: aliceblue;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-gap: 20px;
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: 150px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 2px solid #F5F1E3;
    border-radius: 10px;
}

.card-front {
    background-color: #C5E6A6;
    background-image: url('pictures/outline_narumoi_medredviolet.png');
}

.card-front:hover {
    scale: 1.2;
    transition: 0.4s;
    background-color: #FFD29D ;
    background-image: url('pictures/outline_narumoi_redorange.png');
}
.card-back {
    background-color: #DDDBCB;
    color: #050505;
    transform: rotateY(180deg);
}

.hidden {
    display: none;
}

#endMessage {
    font-size: 24px;
    color: #F5F1E3;
    margin-bottom: 20px;
}

#moveCount {
    font-size: 18px;
}
