@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: aliceblue;
    position: relative;
    background: #081b29; 
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('pictures/background_space.png') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #102a42;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 800;
}

.menu a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: transform 0.4s, color 0.4s;
}

.menu a:hover {
    color: mediumvioletred;
    transform: scale(1.2);
}

.header .menu a {
    display: inline-block;
}

.homepage {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 100px;
    margin-left: 50px;
    background: url('pictures/outline_narumoi.png') no-repeat right bottom;
    background-size: 35%;
    background-attachment: fixed;
    justify-content: space-between;
    position: relative;
}

.content h1 {
    font-size: 56px;
}

.content h2 {
    font-size: 48px;
}

.content h3 {
    font-size: 24px;
    color: mediumvioletred;
}

.pseudo {
    font-size: 56px;
    color: mediumvioletred;
}

.content p {
    font-size: 16px;
    max-width: 600px;
}

.content h2, .pseudo {
    display: inline-block;
}

.homebutton {
    width: 30px;
    height: 30px;
}

.social {
    position: absolute;
    width: 100px;
    bottom: 100px;
    display: flex;
    justify-content: space-evenly;
}

.social a {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid aliceblue;
    border-radius: 50%;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s, color 0.4s;
}

.social a:hover {
    color: mediumvioletred;
    transform: scale(1.2);
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 350px; 
}

.projects {
    border-collapse: collapse;
    background-color: #102a42;
    border: 2px solid aliceblue;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.projects th, .projects td {
    padding: 20px;
    text-align: center;
    border: 1px solid aliceblue;
}

.projects th {
    background-color: #081b29;
    color: mediumvioletred;
    font-size: 24px;
}

.projects td {
    color: aliceblue;
}

.projects img {
    max-width: 150px;
    height: 150px;
    border-radius: 10px;
}

.table-title {
    background-color: transparent;
    color: aliceblue;
    font-size: 32px;
    text-align: center;
}

.project_icon:hover {
    transition: transform 0.4s, color 0.4s;
    transform: scale(1.2);
}

.contact-info {
    padding: 100px 10%;
    margin-top: 100px;
}

.contact-info h1 {
    font-size: 56px;
    margin-bottom: 20px;
}

.contact-info ul {
    list-style: none;
    margin-bottom: 20px;
}

.contact-info ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info ul li a {
    color: mediumvioletred;
    text-decoration: none;
}

.contact-info ul li a:hover {
    text-decoration: underline;
}

.infocontact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #102a42;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
}

.infocontact label {
    font-size: 18px;
    margin-bottom: 5px;
}

.infocontact input, .infocontact textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid aliceblue;
    border-radius: 5px;
    background-color: #081b29;
    color: aliceblue;
}

.infocontact button {
    padding: 10px 20px;
    font-size: 18px;
    color: aliceblue;
    background-color: mediumvioletred;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.infocontact button:hover {
    background-color: #d63384;
}

iframe {
    border: none;
    width: 100%;
    height: 500px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup iframe {
    width: 80%;
    height: 90%;
}

.popup button {
    position: absolute;
    top: 50px;
    right: 200px;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

#aboutme {
    padding: 100px 10%;
    background-color: rgba(16, 42, 66, 0.8);
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

#aboutme .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutme .content h2 {
    font-size: 48px;
    color: mediumvioletred;
    text-align: center;
    margin-bottom: 20px;
}

#aboutme .content p {
    font-size: 16px;
    max-width: 600px;
    line-height: 1.6;
    text-align: justify;
    padding: 20px;
    background-color: rgba(8, 27, 41, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}


@media (max-width: 768px) {
    .header {
        padding: 10px 5%;
    }
    .menu a {
        font-size: 16px;
        margin-left: 20px;
    }
    .homepage {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }
    .content h1, .content h2, .content h3 {
        font-size: 32px;
    }
    .social {
        bottom: 50px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

html, body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

.firefly {
    position: absolute;
    width: 5px;
    height: 5px;
    background: yellow;
    border-radius: 50%;
    box-shadow: 0 0 10px yellow;
    animation: move 10s linear infinite, glow 2s ease-in-out infinite alternate;
}

@keyframes move {
    0% { transform: translate(0, 0); }
    100% { transform: translate(calc(100vw - 5px), calc(100vh - 5px)); }
}

@keyframes glow {
    0% { opacity: 0.2; }
    100% { opacity: 1; }
}

footer {
    width: 100%;
    height: 60px;
    background-color: #102a42;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-top: 1px solid #081b29;
}

audio {
    width: 300px;
    height: 30px;
    background-color: #081b29;
    border: 2px solid aliceblue;
    border-radius: 5px;
    color: aliceblue;
}

audio::-webkit-media-controls-panel {
    background-color: #081b29;
    border-radius: 5px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-timeline {
    background-color: #102a42;
    color: aliceblue;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: aliceblue;
}

#technologies {
    padding-top: 2rem;
    text-align: center;
  }
  
  #technologies h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .tech-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

    /* Responsive */
    @media (max-width: 1200px) {
        .tech-grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media (max-width: 900px) {
        .tech-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 600px) {
        .tech-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 400px) {
        .tech-grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }

  
  .tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
    max-height: 120px;
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .tech-item:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid aliceblue;
  }
  
  .tech-item img {
    width: 100px;
    height: 75px;
    object-fit: contain;
    margin-bottom: 0.1rem;
  }
  
  .tech-item span {
    font-size: 1rem;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
  }
  
.filter-buttons {
  margin-bottom: 1rem;
  text-align: center;
}

.filter-buttons button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #102a42;
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-buttons button.active,
.filter-buttons button:hover {
  background-color: mediumvioletred;
}

.projects .filter-buttons {
  margin-top: 2rem;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Hauteur maximale pour éviter d'étendre trop bas */
    padding-top: 150px;
}

.projects {
    width: 80%;
    max-height: 500px; /* Hauteur maximale de la table */
    overflow-y: auto; /* Permet un défilement interne si nécessaire */
    border-collapse: collapse;
    background-color: #102a42;
    border: 2px solid aliceblue;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* Pour que l'en-tête reste fixe quand on scroll à l'intérieur de la table */
.projects thead {
    position: sticky;
    top: 0;
    background-color: #081b29;
    z-index: 2;
}

.projects th, .projects td {
    padding: 20px;
    text-align: center;
    border: 1px solid aliceblue;
}

.projects th {
    background-color: #081b29;
    color: mediumvioletred;
    font-size: 24px;
}

.projects td {
    color: aliceblue;
}

.projects img {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
}

/* Style du conteneur pour éviter que la table ne se développe trop */
.projects-wrapper {
    width: 100%;
    max-width: 1000px; /* Largeur max pour éviter qu'elle ne devienne trop grande */
    margin: auto;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Garde la table en haut */
    height: 100vh; /* Assure que le haut reste fixe */
    padding-top: 150px; /* Ajustement pour correspondre à la position actuelle */
}

.projects-wrapper {
    width: 100%;
    max-width: 1000px; /* Largeur max pour éviter qu'elle ne devienne trop grande */
    margin: auto;
}

.projects {
    width: 80%;
    min-height: 350px; /* Hauteur minimale pour éviter les déplacements */
    max-height: 500px; /* Hauteur max pour ne pas trop grandir */
    overflow-y: auto; /* Permet le scroll interne si trop de projets */
    border-collapse: collapse;
    background-color: #102a42;
    border: 2px solid aliceblue;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* En-tête fixe pour toujours voir le titre */
.projects thead {
    position: sticky;
    top: 0;
    background-color: #081b29;
    z-index: 2;
}

/* Alignement des boutons sous le titre */
.filter-buttons {
    margin-top: 10px;
    text-align: center;
}

/* Assure que les boutons ne bougent pas */
.filter-buttons button {
    margin: 5px;
    padding: 0.5rem 1rem;
    background-color: #102a42;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-buttons button.active,
.filter-buttons button:hover {
    background-color: mediumvioletred;
}

.popup {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 2000; /* Très haut pour être au-dessus de tout */
}

/* L’iframe du popup occupe la majeure partie de l’écran */
.popup iframe {
    width: 80%;
    height: 90%;
    z-index: 2100; /* Assure qu’elle se situe au-dessus de la superposition */
}

/* Le bouton de fermeture placé dans le popup */
.popup button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2200; /* Au-dessus de l’iframe */
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

